#container {
  background: blue;
  padding-left:20px;
  border:solid,3px;
}
h1 {
  width:60%;
  color: white;
  font-size:30px;
  padding:10px 10px 2px 10px;
  font-size:25px;
  border: solid 3px white;
  text-decoration: underline 3px white;
}
hr {
  border-width: 3px;
  border-color: black;
  border-style: solid;
  
  
}
p {
  color: black;
  font-style: italic;
}
ul {
  list-style: square;
}
#hr1 {
  border-style: solid ;
  border-color: black ;
}
span {
  
  font-style: inherit;
  color: black;
}
a {
  color: red;
  
}
#info {
  padding-left: 20px;
}
#questions {
  padding-left: 20px;
  font-weight: bold;
}
img {
  border:solid 5px;
  border-color:#010;
}
body {
}
